*{
    margin: 0%;     
    /* set browser's default margin to 0  */
}

/* header styles starts*/
.header{
    display: flex;
    justify-content:right;
    padding: 20px 30px;
}

.header a{
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover{
    text-decoration: underline;
}
/* header styles ends*/

/* main body styles starts*/
.mainbody{
    text-align: center;
    padding: 70px;
    margin-top: 50px;
}

.adv_search{
    font-family: sans-serif;
    color: rgb(109, 132, 200);
}

.adv_search_txt{
    margin-top: 20px;
}

.adv_search_txt input{
    margin: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: 20px;
    border: 1px solid rgb(182, 179, 179);
}

.search{
    margin-top: 15px;
}

.adv_search_txt label{
    display: inline-block;
    width: 200px;
    text-align:left;
}

.adv_search_button input{
    width: 200px;
    height: 35px;
    color:white;
    background-color:royalblue;
}

.adv_search_button input:hover{
    background-color:rgb(95, 126, 220)
}